{% include default.css %}

body { padding-bottom: 5.5em; }
figure { display: block; margin-left: 0; margin-right: 0; text-align: center; }
blockquote { font-size: 77.77%; line-height: 1.929; }
p time:only-child { display: block; float: right; }
